<section>
  <div id="name">
    <h1 id="uname">Nuck Chorris</h1>
    <div id ="profpic">
    </div>
  </div>
  <div id="bio">
    <h2>BIO</h2>
    <p id="ubio">Hi, I'm Nuck Chorris. You may remember me from your nightmares. I am an
      8th degree martial artist. I can roundhouse kick you to the stone age.</p>
  </div>
</section>
